html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: hsl(165, 100%, 98%);
}

* {
	text-align: center;
}

#content {
    width: 750px;
    height: 775px;
    margin: 0 auto;
    padding: 0px 15px;
    font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	padding: 1em;
	border: solid black .1em;
	border-radius: 2%;
	background-color: #fffdf4;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50.5%);
}


#etsy-terms {
	margin-left: 5.5em;
}

#search-submit {
	margin-left: 1em;
}

#etsy-images {
	height: 33.2em;
	overflow: auto;
	background-color: white;
	border: solid black .05em;
	margin: .25em;
}

#logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	height: 13%;
	width: 180px;
	text-align: center;
	margin: 0 auto;
	padding-top: 3.8em;
	padding-left: 3.5em;
}
.searchterm, .searchterm-change, #search, #paginate, #clear-history {
	font-size: .6em;
}

.searchterm, .searchterm-change {
	display: inline-block;
	background-color: blue;
	color: white;
	width: 18%;
	height: 2em;
	margin: .41em;
}

img {
	padding: .4em;
	margin: 1em;
	border: solid black .1em;
}

#paginate {
	margin-top: .9em;
}

#paginate > * {
	display: inline;
}

#page-number {
	margin: 0 .5em;
}

#search-history {
	margin-bottom: .8em;
}
#clear-history {
	margin-top: -1.9em;
	margin-right: 1em;
	float: right;
}
footer button {
	background-color: blue;
	color: white;
}